@import "tailwindcss";

/* Fondo oscuro profesional estilo revista científica */
body {
  background-color: #0b1b2e; 
  color: #f8fafc;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}